
		body {
			color: #FFF;
			background-color: #000;
			font-family: 'Red Hat Display', sans-serif;
			font-size: 20px;
			/* -webkit-hyphens: auto;
  			hyphens: auto; */
  			line-height: 1.3;
		}
			

		* {
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			webkit-box-sizing: border-box;
		}

		html {
		scroll-behavior: smooth;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}

		.clear {
			clear: both;
		}

		h1, h2, h3, h4, h5 {
		    line-height: 1em;
		}

		h1, h2, h3 {
		    text-transform: uppercase;
		}
		
		h1 h2, h3, h4, {
			font-weight: 700;
		}

		h1 {
		    font-size: 4em;
		    margin-top: 2em;
		    margin-bottom: 1em;
		    color: #FFE600;
		    /*opacity: 70%;
		    text-shadow: 0 0 15px #FFE600;*/
		}

		h2 {
		    font-size: 3em;
		}


		h3 {
		    font-size: 2em;
		}


		h4 {
		    font-size: 1.5em;
		}


		h5 {
			font-weight: 400;
			font-size: 1.5em;
		}

		h6 {
			font-weight: 400;
			font-size: 1em;
		}

		a { 
			color: #FFF;
		}

		a:hover {
			color: #FFE600;
			transition: 0.3s;
		}

		li {
			padding-bottom: 1em;
		}

		button {
			background-color: #DBFF00;
			color: black; /* Text color */
			cursor: pointer; /* Add a mouse pointer on hover */  
			font-weight: 700;
			font-size: 1em;
			text-align: center;
    		text-transform: uppercase;
    		text-decoration: none;
			border: none; /* Remove borders */
			outline: none; /* Remove outline */
			border-radius: 1.3em;
			padding: 0.8em 1.5em;
			transition: background-color 0.3s;
    		margin: 1em 1em 1em 0em;
		}
		
		button:hover {
			background-color: #FFF;
		}

		section {
			padding: 4em 15% 7em 15% 
		}

		.marquee {
		  /*overflow: hidden;*/
		  display: flex;
		}

		.marquee p{
		  white-space: nowrap;
		  text-transform: uppercase
		}

/* home page */

		.hero {
			background-color: #000;
			padding-top: 8em;
			padding-right: 30%;
			background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/DebitCard-Facebook.jpg");
			background-repeat: no-repeat;
			background-position: 70% 80%;
			background-attachment: fixed;
		}

		.phonetic {
			font-weight: 400;
		}

		.partners {
			background-color: #1234EA;
			padding-top: 0.6em;
			padding-bottom: 0.6em;
			display: flex;
			flex-wrap: wrap;
  			justify-content: space-between;
  			align-items: center;
		}

		.partners img {
			max-width : 130px;
		}

		.logo {
  			flex-basis: auto;
		}

		.look {
			background-color: #000;
			background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bg2.jpg");
			text-align: center;
		}

		.expertise {
			background-color: #D2D2D2;
			/*background-image: url("../images/showcases-bg.png");*/
			background-image: url("../images/brochure.jpg");
			background-repeat: no-repeat;
			background-position: right center;
			background-size: 60%;
			color: #1234EA;
		}

		.faq {
			background-color: #FFF;
			color: #000;
		}

		.faq a {
			text-decoration: none;
			color: #000;
		}


		.faq h5 {
			margin-bottom: 1em;
		}


		.accordion-toggle {
		  display: block;
		}

		.accordion-content {
		  display: none;
		}

		.accordion-content.active {
		  display: block;
		}




		.experience {
			background-color: #000;
			background: linear-gradient(#FF4BA2 0%, #FFE600 100%);
			color: #FFF;
		}

		.experience-flex {
			display: flex;
		}

		.experience-flex-cv {
			flex: 2;
		}

		.experience-flex-cv h5:first-child {
			margin-top: 1em;
		}

		.experience-flex-cv h4:last-child {
			margin-bottom: 0;
		}

		.experience-flex-animation {
			flex: 1;
		}


		.experience h2 {
			color: #FFE600;
			padding-right: 5em;
		}

		.experience h5 {
			margin-bottom: 0;
		}

		.experience h4 {
			margin-top: 0;
			margin-bottom: 2em;
		}

		.experience h3 {
			margin-bottom: 0;
			margin-top: 0;
		}


		text { 
			font-size: 40px;
			font-family: arial,sans-serif;
			text-transform: uppercase;
			letter-spacing: 20px;
			fill: #DBFF00;
		}


		.testimonials h2 {
			color: #FFE600;
			padding-right: 40%;
		}

		.testimonials {
			background-color: #000;
			color: #FFF;
		}


		.testimonials-flex {
			display: flex;
		}

		.testimonials-flex-nom {
			flex: 1;
		}

		.testimonials-flex-temoignage {
			flex: 2;
		}

		.testimonials-flex-temoignage h5:last-child {
			margin-bottom: 0;
		}

		.testimonials h4 {
			margin-top: 2em;
		}

		.testimonials h6 {
			margin-top: 2.6em;
		}

		.testimonials h5 {
			color: #ABB2B9 ;
			transition: color 0.3s;
		}


		.testimonials h5:hover {
			color: #fff;
			transition: color 0.3s;
		}



/* contact */

		.contact {
			background-color: #75d972;
			text-align: center;
			background-image: url("../images/get-rich.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}


		.social {
			padding-top: 2em;
		}

		.social-icon {
			margin-top: 10em;
			padding-right: 1em;
		}




/* thanks */

		.thanks {
			padding: 0;
			background-color: #fff;
			text-align: center;
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 0.8em;
		}

		.thanks-empty {
			color: #fff;
			-webkit-text-stroke: 1px #FF1F00;
			text-stroke: 1px #FF1F00;
			padding-right: 1em;
		}
		
		.thanks-plain {
			color: #FF1F00;
			-webkit-text-stroke: 1px #FF1F00;
			text-stroke: 1px #fff;
			padding-right: 1em;
		}

		footer {
			padding: 0.5em 10% 0.5em 10%;
			background-color: #FF1F00;
			color: #FFF;
			text-align: center;
		}


/* PAGE WORKS */

		.columns2 {
  		columns: 25em;
  		column-gap: 8em;
  		orphans: 3;
   		widows: 2;
		}

		#fidor {
			background-color: #000;
			color: 	#fff;
		}

		#fidor h2 {
			color: #00ff00;
		}

		#fidor a {
			color: #fff;
		}


		#medusims {
			background-color: #f2f2f2;
			color: 	#000;
		}

		#medusims h2 {
			color: #FF1F00;
		}

		#medusims a {
			color: #000;
		}

		#schneider {
			background-color: #FFF;
			color: 	#333333;
		}

		#schneider h2 {
			color: #3dcd58;
		}

		#schneider a {
			color: #3dcd58;
		}

		#schneider img {
			border: 1px solid #C7C4BF;
		}

		#social {
			background-color: #000;
			color: 	#fff;
		}

		#social h2 {
			color: #00ff00;
		}

		#social a {
			color: #fff;
		}

		.work p {
			padding-bottom: 1.5em;
		}

		.work img {
			width: 100%;
			height: auto;
		}


		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 10% 0 10%;
			background-color: #1234EA;
			color: #FFF;
			position: fixed;
  			top: 0;
  			width: 100%;
		}

		nav li {
			list-style: none;
    		display: inline-block;
    		padding: 0 20px;
		}

		nav a {
			text-decoration: none;
		}


		.bandeau-a {
			background-color: #5E5BFF;
			padding: 1em 2em;
			border-radius: 25px;
		}




/* PAGE MISC */

		.about {
			background-color: #fff;
			color: 	#000;
		}

		.misc-flex {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			row-gap: 2em;
		}


		.un-item {
			width: 100%;
		}

		.deux-item {
			width: 47%;
		}

		.deux-item img {
			padding-top: 2.5em;
			width: 100%;
		}

		.trois-item {
			width: 30%;
		}





	 /*////PHONE and TABLET/////////////////////*/

	@media screen and (max-width: 1024px) {




		body {
			font-size: 14px;
		}

		nav {
			display: none;
		}

		section {
			padding: 2em 5% 4em 5%;
		}

		background-position: 70% 90%;


		.hero {
			background-position: 48% 90%;
			padding-top: 1em;
		}

		.hero h1 {
			margin-top: 1em;
		}

		.hero h3 {
			display: none;
		}


		.experience-flex-animation {
			display: none;
		}

		.partners img {
			max-width : 80px;
		}

		.partners div:first-child, .partners div:last-child {
			display: none;
		}


		.expertise {
			background-color: #D2D2D2;
			background-image: url("../images/showcases-bg.png");
			background-repeat: repeat;
			background-position: right center;
			background-size: 5%;
			color: #1234EA;
		}


		.look {
			background-color: #000;
			text-align: left;
		}


		.testimonials-flex {
			display: flex;
  			flex-direction: column-reverse;
		}

		.testimonials h2 {
			padding-right: 0;
		}

		.testimonials h5 {
   			 margin-top: 0;
   			 margin-bottom: 0.8em;
   			 color: #FFF;
		}


		.testimonials h6 {
   			 margin-top: 0;
   			 color: #ABB2B9 ;
		}


		.columns2 {
  		columns: auto auto;
		}


		/* PAGE MISC */

		.deux-item {
			width: 100%;
		}

		.trois-item {
			width: 100%;
		}


		.contact {
			text-align: left;
			background-position: left;
		}

		.thanks {
			display: none;
		}

		footer {
			padding: 0.5em 5% 0.5em 5%;
			text-align: left;
		}



	 }